:root {
  --primary-bg: #050505;
  --secondary-bg: #111133;
  --accent-bg: #00ccff;
  --text-color: #ffffff;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: linear-gradient(
    90deg,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%
  );
  font-size: 1.6rem;
}
