:root {
  --primary-bg: #f2f2f2;
  --secondary-bg: #ffffff;
  --accent-bg: #007acc;
  --text-color: #333333;
  --button-hover: #005999;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: linear-gradient(
    90deg,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%
  );
  font-size: 1.6rem;
}

.not-logged-in-text {
  font-size: 1.5rem;
  color: var(--primary-bg);
  text-align: center;
  padding: 2rem;
  background-color: var(--accent-bg);
}
