:root {
  --primary-bg: #0c1b41;
  --secondary-bg: #0d2c5b;
  --accent-bg: #f7c843;
  --text-color: #ffffff;
  --font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: linear-gradient(
    90deg,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%
  );
  font-size: 1.6rem;
}
