.currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background: var(--secondary-bg);
  text-align: center;
  margin: 4rem auto;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

h1 {
  color: var(--accent-bg);
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.converter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.label {
  font-size: 1.6rem;
  color: var(--accent-bg);
}

.currency-input,
.currency-select {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-bottom: 0.1rem solid var(--accent-bg);
  outline: none;
  color: var(--text-color);
  font-size: 1.6rem;
  background: transparent;
  transition: all 0.3s ease;
}

.currency-input:focus,
.currency-select:focus {
  border-bottom: 0.1rem solid var(--accent-bg);
  box-shadow: 0 0 0.5rem var(--accent-bg);
}

.currency-select {
  background: var(--primary-bg);
  border-radius: 0.5rem;
  color: var(--accent-bg);
}

.conversion-result {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .currency-converter {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  .label {
    font-size: 1.4rem;
  }

  .currency-input,
  .currency-select {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .conversion-result {
    font-size: 1.6rem;
  }
}
