.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  background-color: var(--primary-bg);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2rem;
}

.form-label {
  color: var(--text-color);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border-radius: 0.6rem;
  border: 0.1rem solid var(--e0e0e0);
  outline: none;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.form-button {
  background-color: var(--accent-bg);
  color: var(--text-color);
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 2.2rem;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #008fb3;
}

.displayed-value {
  text-align: center;
  margin-top: 3rem;
}

.displayed-text {
  color: var(--text-color);
  font-size: 1.6rem;
}

.nav-wraper {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.log-in-message {
  display: flex;

  align-items: center;

  gap: 2rem;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--accent-bg);
  padding: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.log-in-message p {
  margin: 0;
}

.log-in-message button.form-button {
  background-color: var(--accent-bg);
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.log-in-message button.form-button:hover {
  background-color: #008fb3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .form {
    padding: 2rem;
  }

  .nav-wraper {
    flex-direction: column;
  }

  .form-label {
    font-size: 1.6rem;
  }

  .form-input {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
  }

  .form-button {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
  }

  .displayed-text {
    font-size: 1.4rem;
  }

  .log-in-message {
    font-size: 1.8rem;
  }

  .log-in-message button.form-button {
    font-size: 1.6rem;
  }
}
